* {
  font-family: 'Poppins', sans-serif;
}





/* custom shapes  */

.custom-shape-divider-top-1687948252 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1687948252 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
}

.custom-shape-divider-top-1687948252 .shape-fill {
  fill: #000000;
}

/* custom shape 2  */
.custom-shape-divider-top-1688219589 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1688219589 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 201px;
}

.custom-shape-divider-top-1688219589 .shape-fill {
  fill: #101729;
}










/* fancy button  */

.fancy-button .wow-btn {
  position: relative;
  top: 0;
  left: 0;
  width: 155px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-button .wow-btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  font-size: 12px;
}

.fancy-button .wow-btn:hover a {
  letter-spacing: 3px;
}

.fancy-button .wow-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.fancy-button .wow-btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.fancy-button .wow-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #97a5ff;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.fancy-button .wow-btn:hover::before

/*lightup button*/
  {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.fancy-button .wow-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.fancy-button .wow-btn:hover::after

/*lightup button*/
  {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.fancy-button .wow-btn:nth-child(1)::before,
/*chnage 1*/
.fancy-button .wow-btn:nth-child(1)::after {
  background: #97a5ff;
  box-shadow: 0 0 5px #97a5ff, 0 0 15px #97a5ff, 0 0 30px #97a5ff,
    0 0 60px #97a5ff;
}

.fancy-button .wow-btn:nth-child(2)::before,
/*chnage 1*/
.fancy-button .wow-btn:nth-child(2)::after {
  background: #97ff9e;
  box-shadow: 0 0 5px #97ff9e, 0 0 15px #97ff9e, 0 0 30px #97ff9e,
    0 0 60px #97ff9e;
}

.fancy-button .wow-btn:nth-child(3)::before,
/*chnage 1*/
.fancy-button .wow-btn:nth-child(3)::after {
  background: #ffbb97;
  box-shadow: 0 0 5px #ffbb97, 0 0 15px #ffbb97, 0 0 30px #ffbb97,
    0 0 60px #ffbb97;
}











/* glowing text */

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #97a5ff;
}

.content h2:nth-child(2) {
  color: #97a5ff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}






/* progress bar  */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #97a5ff;
  transform-origin: 0%;
}





/* fancy text animation  */

.neonText {
  color: #ffffff;
  text-shadow:
    0 0 0px #fff,
    0 0 5px #fff,
    0 0 0px #fff,
    0 0 0px #97a5ff,
    0 0 20px #97a5ff,
    0 0 5px #97a5ff,
    0 0 50px #97a5ff,
    0 0 70px #97a5ff;
}

.neonText2 {
  color: #ffffff;
  box-shadow:
    0 0 0px #fff,
    0 0 5px #fff,
    0 0 0px #fff,
    0 0 0px #97a5ff,
    0 0 10px #97a5ff,
    0 0 5px #97a5ff,
    0 0 50px #97a5ff,
    0 0 70px #97a5ff;
}

.neonText2:hover {
  color: #ffffff;
  box-shadow:
    0 0 0px #fff,
    0 0 5px #fff,
    0 0 0px #fff,
    0 0 0px #6176ff,
    0 0 20px #6176ff,
    0 0 5px #6176ff,
    0 0 50px #6176ff,
    0 0 70px #6176ff;
}




/* fancy border  */
.fancy-boarder {
  border-radius: 30% 70% 70% 30% / 30% 44% 56% 70%;
}

.fancy-boarder2 {
  border-radius: 0% 100% 100% 100% / 0% 100% 0% 100%;
}












/* glowing text  */
:root {
  --glow-color: #97a5ff;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-btn::before {

  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}



.glowing-btn2 {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}

.glowing-btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn2:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn2:hover .glowing-txt {
  animation: none;
}


.glowing-btn2:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn2:hover:after {
  opacity: 1;
}










/* fancy background */

.fancy-bg {
  background: linear-gradient(45deg,#0000 calc(25%/3), #000000 0 calc(50%/3),
  #0000 0 calc(250%/3), #000000 0 calc(275%/3),
  #0000 0),linear-gradient( 45deg,#000000 calc(25%/3), #0000 0 calc(50%/3),
  #000000 0 25%, #0000 0 75%,
  #000000 0 calc(250%/3), #0000 0 calc(275%/3),
  #000000 0),
  linear-gradient(-45deg,#0000 calc(25%/3), #000000 0 calc(50%/3),
  #0000 0 calc(250%/3), #000000 0 calc(275%/3),
  #0000 0),linear-gradient(-45deg,#000000 calc(25%/3), #0000 0 calc(50%/3),
  #000000 0 25%, #0000 0 75%,
  #000000 0 calc(250%/3), #0000 0 calc(275%/3),
  #000000 0)
  #141c35;
background-size: 30px 30px;
background-position: 0 0, 15px  15px;

}

.fancy-bg2 {
  background:
    radial-gradient(50% 50% at 100% 0, #000000 0% 5%, #101629 6% 15%, #000000 16% 25%, #101629 26% 35%, #000000 36% 45%,
      #101629 46% 55%, #000000 56% 65%, #101629 66% 75%, #000000 76% 85%, #101629 86% 95%,
      #0000 96%),
    radial-gradient(50% 50% at 0 100%, #000000 0% 5%, #101629 6% 15%, #000000 16% 25%, #101629 26% 35%, #000000 36% 45%,
      #101629 46% 55%, #000000 56% 65%, #101629 66% 75%, #000000 76% 85%, #101629 86% 95%,
      #0000 96%),
    radial-gradient(50% 50%, #000000 0% 5%, #101629 6% 15%, #000000 16% 25%, #101629 26% 35%, #000000 36% 45%,
      #101629 46% 55%, #000000 56% 65%, #101629 66% 75%, #000000 76% 85%, #101629 86% 95%,
      #0000 96%),
    radial-gradient(50% 50%, #000000 0% 5%, #101629 6% 15%, #000000 16% 25%, #101629 26% 35%, #000000 36% 45%,
      #101629 46% 55%, #000000 56% 65%, #101629 66% 75%, #000000 76% 85%, #101629 86% 95%,
      #0000 96%) 32px 32px;
  background-size: 64px 64px;
  background-color: #000000;
}






/* fancy shadow  */
.fancy-shadow {
  box-shadow: -26px 10px 44px -2px rgba(25, 0, 83, 0.46);
}










/* scroll down animation  */

.shapedividers_com-2722 {
  overflow: hidden;
  position: relative;
}

.shapedividers_com-2722::before {
  content: '';
  font-family: 'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 400% 167px;
  background-position: 51% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%2319223e"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%2319223e"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%2319223e"/></svg>');
}

@media (min-width:2100px) {
  .shapedividers_com-2722::before {
    background-size: 400% calc(2vw + 167px);
  }
}